<div class="container-fluid main-container-width-with-header" style="margin-top: 62px">
  <h3>LP - Support & Collaboration</h3>
  <div class="row">
    <div class="col-md-6" *ngIf="lazyStream">
      <h5>List of Users:</h5>
      <span *ngIf="peerList.length > 0">
        <span *ngFor="let peer of peerList">{{peer}}</span>
      </span>
      <div>
        <mat-icon *ngIf="!muted" (click)="toggleMic()">mic</mat-icon>
        <mat-icon *ngIf="muted" (click)="toggleMic()">mic_off</mat-icon>

        <mat-icon *ngIf="showWebcam" (click)="toggleCam()">videocam</mat-icon>
        <mat-icon *ngIf="!showWebcam" (click)="toggleCam()">videocam_off</mat-icon>

        <mat-icon (click)="closeCall()"> call_end</mat-icon>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Video & screen share container -->
      <span>PeerId: {{peerId}}</span>
      <div id="remote-video">
        <div  id="local-video">
        </div>
      </div>
      <br>
      <div style="margin-top: 20px;">
        <input type="text" placeholder="Peer Id" [(ngModel)]='peerToCall'/>
        <button *ngIf="!lazyStream" class="button" (click)="connectWithPeer()">Call Peer</button>
        <ng-container *ngIf="lazyStream">
          <button *ngIf="!isSharingScreen" class="button" id="screenShare" (click)="screenShare()">Screen share</button>
          <button *ngIf="isSharingScreen" class="button" id="screenShare" (click)="stopScreenShare()">Stop screen share</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>